/*
    000000 <-- Border
    191919 <-- background
    949999 <-- Active Button
    5e5e5e <-- Inactive button
    ff8a16 <-- Selected
    aaaaaa <-- Font
    f8f8f8 <-- Bold Font
    c22121 <-- Red Tag
    c1871e <-- Orange Tag
    c2c221 <-- Yellow Tag
    3ea23e <-- Green Tag
    317bc1 <-- Blue Tag
    c22e7e <-- Pink Tag
    763aaf <-- Purple Tag
*/

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$blue: #317bc1 !default;
$indigo: #6610f2 !default;
$purple: #763aaf !default;
$pink: #c22e7e !default;
$red: #c22121 !default;
$orange: #c1871e !default;
$yellow: #c2c221 !default;
$green: #3ea23e !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;

$primary: $blue !default;
$secondary: $teal !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-800 !default;

$body-bg: #191919 !default;
$body-color: $light;

$thumbnail-border-radius: 0;
$thumbnail-padding: 0;
$thumbnail-bg: $gray-600;
$thumbnail-border-color: $gray-800;
$thumbnail-border-with: 0;

$pagination-disabled-bg: $gray-800;
$pagination-disabled-color: $gray-600;
$pagination-disabled-border-color: $gray-900;
